.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover
{
    background-color: #0275d8;
    cursor: default;
}
.dropdown-menu>li>a:hover
{
    background-color: #0275d8;
    color: #ffffff;
}
.dropdown-menu
{
    width: 100%;
}

@media (min-width: 768px)
{
.navbar {
    border-radius: 0px;
}
}